* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  font-size: 1rem;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 15rem;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #000;
}

.hours, .minutes, .seconds {
  position: absolute;
  display: flex;
  justify-content: center;
  /* border: 2px solid #ff0000; */
}

.hours {
  height: 11rem;
  width: 11rem;
}

.hours::before {
  content: '';
  height: 50%;
  width: 6px;
  border-radius: 3px;
  background-color: #000;
}

.minutes {
  height: 12rem;
  width: 12rem;
}

.minutes::before {
  content: '';
  height: 50%;
  width: 4px;
  border-radius: 2px;
  background-color: #ffa500;
}

.seconds{
  height: 13rem;
  width: 13rem;
}

.seconds::before {
  content: '';
  height: 50%;
  width: 2px;
  border-radius: 1px;
  background-color: #ff0000;
}
